apiVersion: apps/v1  
kind: Deployment  
metadata:  
  name: kubeshop-api  
  namespace: kubeshop-lkc  
spec:  
  replicas: 2  
  selector:  
    matchLabels:  
      app: kubeshop-api  
  template:  
    metadata:  
      labels:  
        app: kubeshop-api  
    spec:  
      serviceAccountName: shop-ops  
      containers:  
      - name: echo-server  
        image: ealen/echo-server:latest  
        ports:  
        - containerPort: 8080  
        env:  
        - name: MESSAGE  
          valueFrom:  
            configMapKeyRef:  
              name: kubeshop-api-config  
              key: KB_MESSAGE  
        - name: FEATURE_FLAGS  
          valueFrom:  
            configMapKeyRef:  
              name: kubeshop-api-config  
              key: feature-flags  
        - name: DB_PASSWORD  
          valueFrom:  
            secretKeyRef:  
              name: kubeshop-db-secret  
              key: postgres-password  
        - name: API_KEY  
          valueFrom:  
            secretKeyRef:  
              name: kubeshop-api-secret  
              key: api-key  
        - name: DB_HOST
          value: "kubeshop-db"